<dieate-banner title="Welcome to my desktop manager!!"></dieate-banner>
<ul>
  <li *ngFor="let product of products">
    <strong>{{ product.name }}</strong> Price: {{ product.price }}
  </li>
</ul>
<dieate-nx-welcome></dieate-nx-welcome>
<router-outlet></router-outlet>
